    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

   /* HTML */

   * {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
    font-family: 'Libre Baskerville', serif;
}

.main-container {
    min-height: 100vh; 
    overflow: hidden;
    display: block;
    padding-bottom: 100px; 
}

    
    /*---------- Nav Bar */
.navbar {
    background-color: #990808;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
}

.dropdown-menu {
    background-color: #170101
}

.dropdown-item {
    color: white;
}


    /*---------- Index.html */
       /* ---------- Header */

#index-header {
    height: 500px;
    width: 100%;
}

.module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/dud-canal.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  float: left;
}

.header-text h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 42px;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 3px 2px 2px black;
}


/* ---------- History */

#history {
    padding-top: 20px;
    background-color: rgba(153, 8, 8);
    padding-bottom: 20px;
    
}

.history-title h2 {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: rgb(153, 8, 8);
    text-decoration: underline green;
    text-shadow: 3px 2px 2px #170101;
    font-size: 35px;
}

.history-intro {
    text-align: left;
    padding-left: 6px;
    font-family: 'Libre Baskerville', serif;
    color: white;
}

.history-intro a {
    text-decoration: underline;
    color: white;
}

.history-intro a:hover {
    color: green;
}

.container { /* created by https://www.w3schools.com/howto/howto_css_image_overlay_slide.asp */
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 80%;
  padding-top: 10px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 70%;
}

.container:hover .overlay {
  height: 100%;
}

.text p {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


   /* -------- FOOTER ---------- */

#footer {
    background-color: #fff;
    border-top: green 3px solid;
}

.footer-links {
    text-align: center;
    margin-top: 10px;
}

.footer-links h3 {
    font-size: 11px;
    font-family:'Libre Baskerville', serif;
}

.footer-links ul li a {
    color: red;
    text-decoration: none;
}

.footer-links ul li a:hover {
    color: green;
}


     /* --------- MAP */

div#map {min-height: 360px;}

#section-map {
    border-top: 2px green solid;
    background-color: #e3dcdc;
}

.section-column {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-column h3 {
    font-family: 'Libre Baskerville', 'sarif';
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    color: #400909;
    padding-bottom: 10px;
}

    /* ---------- Stourbridge Path */

.stourbridge-module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/sbridge-canal.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  float: left;
}

    /* ----------- PATH FACTS ----- */

#path-facts {
    background-color: rgba(153, 8, 8);
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid green;
}

.fact-title {
    color: white;
    text-align: center;
    font-size: 22px;
    text-decoration: underline green;
    text-shadow: 3px 2px 2px #170101;
}

.facts-summary p{
    color: silver;
    padding-top: 16px;
    text-align: left;
}

.fact-image img {
    border: solid white 2px;
}



     /* ---------- Dudley No1 Path */

.dudley1-module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/dud1-path.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  float: left;
}

     /* ---------- Dudley no2 Path */

.dudley2-module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/dudley-2-path.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  float: left;
}



   /* ----------- CONTACT ---- */

.contact-module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/waterfront.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  float: left;
}

#contact {
    background-color: #e3dcdc;
}

   /* ------ Contact Form created by Bootstrap 4.1.1 Snippet by kshiti06 / https://bootsnipp.com/snippets/7nmOW ---- */
.contact-form{
    background: #e3dcdc;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}

.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3 {
    text-align: center;
    color: #990808
}
.contact-form h4{
    margin-top: 5%;
    margin-bottom: 8%;
    text-align: center;
    color: #990808;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #990808;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #e3dcdc;
    background-color: #990808;
    border: none;
    cursor: pointer;
}