    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

   /* HTML */

   * {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
}

.main-container {
    min-height: 100vh; 
    overflow: hidden;
    display: block;
    padding-bottom: 100px; 
}

#index-footer {
    margin-top: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
    
    /*---------- Nav Bar */
.navbar {
    background-color: #990808;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
}

.dropdown-menu {
    background-color: #170101
}

.dropdown-item {
    color: white;
}


    /*---------- Index.html */
       /* ---------- Header */

#index-header {
    height: 700px;
    width: 100%;
}

#index-header-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 100%;
    background: url(../images/dud-canal.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

#header-text h2{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 190px;
    text-shadow: 5px 3px 3px black;
    font-size: 75px;
}

/* ---------- History */

#history {
    padding-top: 20px;
    background-color: rgba(153, 8, 8);
    padding-bottom: 20px;
    
}

.history-title {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: rgb(153, 8, 8);
    text-decoration: underline green;
}

.history-intro {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: white;
}

.history-intro a {
    text-decoration: underline;
    color: white;
}

.history-intro a:hover {
    color: green;
}

.container { /* created by https://www.w3schools.com/howto/howto_css_image_overlay_slide.asp */
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 80%;
  padding-top: 10px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 70%;
}

.container:hover .overlay {
  height: 100%;
}

.text p {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


   /* -------- FOOTER ---------- */

#footer {
    background-color: #fff;
    border-top: green 3px solid;
}

.footer-links {
    text-align: center;
    margin-top: 10px;
}

.footer-links h3 {
    font-size: 11px;
    font-family:'Libre Baskerville', serif;
}

.footer-links ul li a {
    color: red;
    text-decoration: none;
}

.footer-links ul li a:hover {
    color: green;
}


     /* --------- MAP */

div#map {min-height: 360px;}

    /* ---------- Stourbridge Path */

#stourbridge-header-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 100%;
    background: url(../images/sbridge-canal.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    opacity: 90%;
}



     /* ---------- Dudley No1 Path */

     /* ---------- Dudley no2 Path */

#dudley2-header-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 100%;
    background: url(../images/dudley-2-path.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

   /* ---------- Attractions */

#attractions-header-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 100%;
    background: url(../images/waterfront.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    opacity: 90%;
}