    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

        /* ---- HTML ---- */

   * {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
    font-family: 'Libre Baskerville', serif;
}

.main-container {
    min-height: 100vh; 
    overflow: hidden;
    display: block;
}

    
       /*---------- Nav Bar ----- */

.navbar-brand {
    font-size: 0.85rem;
}

.navbar {
    background-color: #990808;
    font-family: 'Libre Baskerville', serif;
}

.dropdown-menu {
    background-color: green;
}

.dropdown-item {
    color: white;
}


    /*---------- Index.html -------- */
       /* ---------- Header -------*/

#index-header {
    height: 500px;
    width: 100%;
}

.module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/dud-canal.jpg); /*image taken from Canal River Trust Website(https://canalrivertrust.org.uk/).*/
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  float: left;
}

.header-text h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 42px;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 3px 2px 2px black;
}


    /* ---------- History ------- */

#history {
    padding-top: 20px;
    background-color:#474343;
    padding-bottom: 20px;
    border-top: green 3px solid;
}

.history-title h2 {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-decoration: underline green;
    text-shadow: 3px 2px 2px #170101;
    font-size: 35px;
}

.history-intro {
    text-align: left;
    padding-left: 6px;
    font-family: 'Libre Baskerville', serif;
    color: white;
    padding-bottom: 15px;
    padding-top: 15px;
    text-shadow: 2px 2px black;
}

.history-intro a {
    text-decoration: underline green;
    color: white;
}

.history-intro a:hover {
    color: green;
}

.container { /* created by https://www.w3schools.com/howto/howto_css_image_overlay_slide.asp */
  position: relative;
  width: 100%;
}

.boat-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 70%;
}

.container:hover .boat-overlay {
  height: 100%;
}

.boat-overlay img {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.boat-overlay p {
  color: white;
  font-size: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.locks-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .7s ease;
  opacity: 70%;
}

.container-fluid:hover .locks-overlay {
  height: 100%;
}


.locks-overlay img {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.locks-overlay p {
  color: white;
  font-size: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

    /* ---------- Stourbridge Path ------- */

.stourbridge-module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/sbridge-canal.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  float: left;
}

     /* ---------- Dudley No1 Path ---------- */

.dudley1-module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/dud1-path.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  float: left;
}

     /* ---------- Dudley no2 Path */

.dudley2-module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/dudley-2-path.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  float: left;
}

    /* ----------- PATH FACTS ----- */

#path-facts {
    background-color: #474343;
    padding-top: 20px;
    padding-bottom: 60px;
    border-top: 2px solid green;
}

.fact-title {
    color: white;
    text-align: center;
    font-size: 22px;
    text-decoration: underline green;
    text-shadow: 3px 2px 2px #170101;
}

.facts-summary p{
    color: silver;
    padding-top: 16px;
    text-align: left;
}

.fact-image {
    padding-bottom: 10px;
}
.fact-image img {
    border: solid green 4px;
    height: 400px;
    width: 100%;
}

.fact-icon {
    text-align: center;
}

.fact-icon i {
    font-size: 90px;
    padding-top: 10px;
    padding-bottom: 40px;
    color: #fff;
}

     /* --------- MAP ------ */

div#map {min-height: 360px;}

#section-map {
    border-top: 3px green solid;
    background-color: #e3dcdc;;
}

.section-column {
    padding-bottom: 20px;
}

.section-column h3 {
    font-family: 'Libre Baskerville', 'sarif';
    font-size: 30px;
    text-decoration: underline green;
    text-align: center;
    color: #990808;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.section-heading  {
    font-family: 'Libre Baskerville', 'sarif';
    font-size: 15px;
    text-align: center;
    color: #990808;
    padding-bottom: 5px;
}

.map-icon {
    text-align: center;
    padding-top: 30px;
}

.map-icon i {
    font-size: 90px;
    padding-top: 10px;
    padding-bottom: 40px;
    color: #292b29;
}

.return {
    padding-top: 15px;
    padding-bottom: 10px;
}

.return h3 a{
    color: #292b29;
    font-size: 10px;
}

.return h3 a:hover {
    color: green
}


   /* ----------- CONTACT ---- */

.contact-module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/waterfront.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  float: left;
}

.contact-section {
    background-color: #474343;
    border-top: green solid 3px;
}

.contact-message {
    padding-top: 2%;
    text-align: center;
}

.contact-message i {
    font-size: 90px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
}

.contact-message h2 {
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    color:#fff;
}

   /* ------ Contact Form created by Bootstrap 4.1.1 Snippet by kshiti06 / https://bootsnipp.com/snippets/7nmOW ---- */
.contact-form{
    background: #474343;
    margin-top: 3px;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}

.contact-form form{
    padding-top: 5%;
    padding-bottom: 10%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3 {
    margin-top: 10px;
    text-align: left;
    color: #990808;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #990808;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContact:hover {
   background-color: green;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #e3dcdc;
    background-color: #990808;
    border: none;
    cursor: pointer;
}

.contact-request {
    color: #e3dcdc;
    font-size: 20px; 
    margin-top: 30px;
}

   /* -------- FOOTER ---------- */

#footer {
    background-color: #fff;
    border-top: green 3px solid;
}

.footer-links {
    text-align: center;
    padding-top: 15px;
    padding-right: 3px;
    padding-left: 3px;
}

.footer-links li {
    font-size: 11px;
    font-family:'Libre Baskerville', serif;
    color: #a67a03;
    
}

.footer-links ul li a {
    color: #990808;
    text-decoration: none;
    font-size: 15px;
    padding-top: 5px;
}

.footer-links ul li a:hover {
    color: green;
}

.copyright {
    text-align: center;
    font-size: 10px;
    color: grey;
}